---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import PricingTemp from "../components/PricingTemp.astro";
import HeroTemp from "../components/HeroTemp.astro";
import CTATemp from "../components/CTATemp.astro";
import AboutMe from "../components/AboutMe.astro";

const pageTitle = "Infinity Metrics | Own Your Data, Ask Anything";
const pageDescription =
	"A self-hosted analytics server with an embedded SQLite database, no third-party sharing, just pure privacy. Explore your data beyond the limits of the dashboard with plain English questions.";
---

<Layout title={pageTitle} description={pageDescription}>
	<Header />
	<main>
		<HeroTemp />
		<Features class="alt-bg" />
		<HowItWorks />
		<PricingTemp class="alt-bg" />
		<AboutMe />
		<FAQ />
		<CTATemp />
	</main>
	<Footer />
</Layout>
