---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import PricingTemp from "../components/PricingTemp.astro";
import HeroTemp from "../components/HeroTemp.astro";
import CTATemp from "../components/CTATemp.astro";

const pageTitle = "Infinity Metrics | Self-Hosted, AI-Powered Web Analytics";
const pageDescription = "Get insightful AI-driven web analytics you can self-host. Infinity Metrics offers a one-time purchase, privacy-first solution. Own your data.";
---

<Layout title={pageTitle} description={pageDescription}>
	<Header />
	<main>
		<HeroTemp />
		<Features class="alt-bg" />
		<HowItWorks />
		<PricingTemp class="alt-bg" />
		<FAQ />
		<CTATemp />
	</main>
	<Footer />
</Layout>
