---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import PricingTemp from "../components/PricingTemp.astro";
import HeroTemp from "../components/HeroTemp.astro";
import CTATemp from "../components/CTATemp.astro";
import AboutMe from "../components/AboutMe.astro";

const pageTitle =
  "InfinityMetrics | Break Free from Trust-Killing Web Analytics";
const pageDescription =
  "Stop betraying users' trust by shipping their data to third parties. Get the insights you need while keeping their data 100% in-house.";
---

<Layout title={pageTitle} description={pageDescription}>
  <Header />
  <main>
    <HeroTemp />
    <Features class="alt-bg" />
    <HowItWorks />
    <PricingTemp class="alt-bg" />
    <AboutMe />
    <FAQ />
    <CTATemp />
  </main>
  <Footer />
</Layout>
